
.EntityList :global(.MuiListItemSecondaryAction-root) {
  cursor: pointer;
  pointer-events: none;
}

.EntityList {
  border-top: 1px solid #ccc;
}

.EntityListEntry {
  height: 3em;
  border-bottom: 1px solid #ccc;
}

.EntityListEntry.selected {
  background-color: #bbf;
}
