
.CourseList :global(.MuiListItemSecondaryAction-root) {
  cursor: pointer;
  pointer-events: none;
}


// TODO use lines?

.xCourseList {
  border-top: 1px solid #ccc;
}

.xCourseListEntry {
  height: 3em;
  border-bottom: 1px solid #ccc;
}
