
.InlineMarkdownButtonList :global(.MuiListItemSecondaryAction-root) {
  cursor: pointer;
  pointer-events: none;
}

.InlineMarkdownButtonList {
  border-top: 1px solid #ccc;
}

.Entry {
  height: 3em;
  border-bottom: 1px solid #ccc;
}

.Entry.selected {
  background-color: #bbf;
}
